 Body {
     text-align: center;
     background-color: #161b28;
     color: whitesmoke;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bolder;
     font-size: large;
 }

 .picDiv {
     padding: 20px;
 }

 .picButton {
     cursor: pointer;
     background-color: rgba(105, 105, 105, 0.494);
     color: rgb(0, 0, 0);
     font-family: 'Courier New', Courier, monospace;
     font-weight: bolder;
     padding: 5px;
     border-radius: 5px;
 }

 .picButton:hover {
     cursor: pointer;
     transform: scale(1.05);
     transition: all 0s ease;

 }

 .picList {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-template-rows: repeat(3, 1fr);

     padding: 20px;
 }

 img {
     border-radius: 15px;
     height: 333px;
 }

 img:hover {
     cursor: pointer;
     transform: scale(1.2);
     transition: all .7s ease;
 }

 .picDivDescription {
     font-size: larger;

 }

 .picDivDescription:hover {
     font-size: larger;
     cursor: pointer;
     transform: scale(1.05);
     transition: all .3s ease;

 }